/* 引入初始化文件 */
@import './reset';  

.layout {
    width: 100vw;
    height: 100vh;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.pyg_header {
    background-color: aqua;
}

.pyg_content {
    background-color: yellow;
    flex: 1;
}

.pyg_footer {
    height: 45px;
    background-color: green;
}


